body {
    color:white;
    background:black;
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(189, 18, 18);
    padding: 20px;
    font-size: 32px;
    color: rgb(40, 28, 204);
}

 .chamada {
    background:rgb(4, 20, 112);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto {
    margin-right: 5%;
 }

 h1 {
     front-size: 40px:
 }